[Desktop Entry]
Name=Amy-Plasma
Comment=Amy Dark Plasma Theme by l4k1
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=lak1987@gmail.com
X-KDE-PluginInfo-Name=Amy-Plasma
X-KDE-PluginInfo-Version=14.4
X-KDE-PluginInfo-Website=https://github.com/L4ki/Amy-Plasma-Themes
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true

[BlurBehindEffect]
enabled=true

[ContrastEffect]
enabled=false
contrast=0.4
intensity=0.6
saturation=8
