[Desktop Entry]
Comment=Amy Dark Global Theme by l4k1
Name=Amy-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Amy-Global
X-KDE-PluginInfo-Version=1.4
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/2011589,kns://colorschemes.knsrc/api.kde-look.org/2011588,kns://plasma-themes.knsrc/api.kde-look.org/2011600,kns://icons.knsrc/api.kde-look.org/2011598,kns://icons.knsrc/api.kde-look.org/2011596,kns://aurorae.knsrc/api.kde-look.org/2011592,kns://aurorae.knsrc/api.kde-look.org/2011591,kns://aurorae.knsrc/api.kde-look.org/2011590,kns://wallpaper.knsrc/api.kde-look.org/2011581,kns://wallpaper.knsrc/api.kde-look.org/2011580,kns://sddmtheme.knsrc/api.kde-look.org/2011586
