[Desktop Entry]
Name=Amy-Light-Plasma
Comment=Amy Light Plasma Theme
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=lak1987@gmail.com
X-KDE-PluginInfo-Name=Amy-Light-Plasma
X-KDE-PluginInfo-Version=4.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true

[AdaptiveTransparency]
enabled=true

[BlurBehindEffect]
enabled=true




