[Desktop Entry]
Name=Amy-Light-Plasma
Comment=Amy Light Plasma Theme
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=lak1987@gmail.com
X-KDE-PluginInfo-Name=Amy-Light-Plasma
X-KDE-PluginInfo-Version=13.4
X-KDE-PluginInfo-Website=https://github.com/L4ki/Amy-Plasma-Themes
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true

[AdaptiveTransparency]
enabled=true

enabled=true
blur=2.0
contrast=1.6
intensity=1.6
saturation=1.6

[BlurBehindEffect]
enabled=true




